css: [
  "app/css/fonts.css"
  "app/css/reset.css"
  "app/css/font-awesome.css"
  "app/css/style.css"
]
js: [
  "app/js/jquery-2.0.0.min.js"
  "app/js/json2.js"
  "app/js/jwerty.js"
  "app/js/skycons-20130402.js"
  "app/js/raphael-v2.1.1-min.js"
  "app/js/underscore-1.5.1.min.js"
  "app/js/backbone-1.0.0.min.js"
  "app/js/backbone.localStorage-1.1.6.min.js"
  "app/js/app-init.jsenc"
  "app/js/app-storage.jsenc"
  #"app/js/app-models.jsenc"
  #"app/js/app-modelsinit.jsenc"
  "app/js/app-lib.jsenc"
  "app/js/app-settings.jsenc"
  "app/js/app-logger.jsenc"
  "app/js/app-debug.jsenc"
  "app/js/app-datetime.jsenc"
  "app/js/app-forecast.jsenc"
  "app/js/app-message.jsenc"
  "app/js/app-external-news.jsenc"
  "app/js/app-internal-news.jsenc"
  "app/js/app-internal-alerts.jsenc"
  "app/js/app-events.jsenc"
  "app/js/app-ui.jsenc"
]
